.container {
  position: relative;
  display: flex;
}


#id_canvasContainer {
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
}

#id_sidebar {
  height: 100%;
  width: 25%;
  z-index: 2;
}

#id_canvasContainer{
  width: 80%;
}

.modeChageButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}



