.fileUpload{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
  
.fileUploadLabel {
	color: rgba(127,255,255,0.75);
	background: transparent;
	outline: 3px solid rgba(127,255,255,0.75);
    background: linear-gradient(to bottom, rgba(0, 98, 255, 0.4), rgba(115, 253, 239, 0.4));	border: 0px;
	padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 30px;
    height: 4vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
}

.fileUploadLabel:hover {
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.4), rgba(255, 94, 244, 0.4));	border: 0px;

}

#id_uploadGlb{
    display: none;
}

#id_uploadImage{
    display: none;
}