<head>
    <link rel="stylesheet" href="static/css/index.css">
    <link id="id_dynamicStylesheet" rel="stylesheet" type="text/css" href="">

    <script type="importmap">
        {
            "imports": {
                "three": "./static/three.js-dev/build/three.module.js",
                "CSS3DRenderer":"./static/three.js-dev/examples/jsm/renderers/CSS3DRenderer.js",
                "OrbitControls":"./static/three.js-dev/examples/jsm/controls/OrbitControls.js",
                "TransformControls":"./static/three.js-dev/examples/jsm/controls/TransformControls.js",
                "GLTFLoader":"./static/three.js-dev/examples/jsm/loaders/GLTFLoader.js"
            }
        }
    </script>
    <script type="module" src="./static/javaScript/build.js"></script>
    <meta charset="UTF-8" />
    <title>3d-web</title>
</head>
<body>
    <div>
        <button id="id_translateModeButton">移動</button>
        <button id="id_rotateModeButton">回転</button>
        <button id="id_scaleModeButton">拡大</button>
        <button id="id_jsonExportButton">エクスポート</button>
        <button id="id_sceneRemoveButton">削除</button>
    </div>
    <div class="container">
        <div id="id_canvasContainer"></div>
        <div id="id_sidebar">
            <button id="id_modeHTMLButton">HTMLモード</button>
            <button id="id_modeModelButton">モデルモード</button>
            <textarea id="id_inputHTML"></textarea>
            <button id="id_drawHTMLButton">ok</button>
            <textarea id="id_inputCSS" rows="4" cols="50"></textarea>
            <button id="id_applyCssButton">CSS適用</button>
            <input type="file" id="id_inputFile">
            <input type="file" id="id_uploadImage">
        </div>
    </div>
    <script src="./static/javaScript/applyCSS.js" ></script>
</body>