<head>
    <link rel="stylesheet" href="static/css/build.css">
    <link rel="stylesheet" href="static/css/fileUploadButton.css">
    <link rel="stylesheet" href="static/css/inputHTML.css">
    <link rel="stylesheet" href="static/css/inputCSS.css">
    <link rel="stylesheet" href="static/css/optionButton.css">
    <link id="id_dynamicStylesheet" rel="stylesheet" type="text/css" href="">
    <script type="importmap">
        {
            "imports": {
                "three": "./static/three.js-dev/build/three.module.js",
                "CSS3DRenderer":"./static/three.js-dev/examples/jsm/renderers/CSS3DRenderer.js",
                "OrbitControls":"./static/three.js-dev/examples/jsm/controls/OrbitControls.js",
                "TransformControls":"./static/three.js-dev/examples/jsm/controls/TransformControls.js",
                "GLTFLoader":"./static/three.js-dev/examples/jsm/loaders/GLTFLoader.js"
            }
        }
    </script>
    <script type="module" src="./static/javaScript/build.js"></script>
    <meta charset="UTF-8" />
    <title>3d-web</title>
</head>
<body>
    <div class="option">
        <button id="id_modeHTMLButton">HTMLモード</button>
        <button id="id_modeModelButton">モデルモード</button>
        <button id="id_translateModeButton">移動</button>
        <button id="id_rotateModeButton">回転</button>
        <button id="id_scaleModeButton">拡大</button>
        <button id="id_sceneRemoveButton">削除</button>
        <button id="id_jsonExportButton">エクスポート</button>
        <input type="color" value="#000000" id="id_colorPicker">
        <select id="id_decorationSelect">
            <option >背景デザイン-無し</option>
            <option >銀河</option>
            <option >雪</option>
            <option >雨</option>
        </select>
    </div>
    <div class="container">
        <div id="id_canvasContainer"></div>
        <div id="id_sidebar">
            <div class="modeChageButtons">

            </div>
            <div class="inputHTML">
                <textarea id="id_inputHTML"></textarea>
                <button id="id_drawHTMLButton">HTML描画</button>
            </div>
            <div class="inputCSS">
                <textarea id="id_inputCSS" rows="4" cols="50"></textarea>
                <button id="id_applyCssButton">CSS適用</button>
            </div>
            <div class="fileUpload">
                <label class="fileUploadLabel">
                    <input type="file" id="id_uploadGlb">
                    glbモデルを選択
                </label>
                <label class="fileUploadLabel">
                    <input type="file" id="id_uploadImage">
                    画像を選択
                </label>

            </div>
        </div>
    </div>
    <script src="./static/javaScript/applyCSS.js" ></script>
</body>