<!DOCTYPE html>
<html>
<head>
    <title>ファイルのアップロード</title>
</head>
<body>
    <h1>ファイルをアップロードする</h1>
    <input type="file" id="fileInput" name="files" multiple>
    <button id="id_uploadButton">アップロード</button>
    <button id="id_add">追加</button>

    <script>
        document.getElementById("id_uploadButton").addEventListener("click",function(){
            uploadFile();
        })
        const formData = new FormData();
        document.getElementById("id_add").addEventListener("click",function(){
            const fileInput = document.getElementById('fileInput');
            const files = fileInput.files;
            console.log(files)
            formData.append('files', files[0]);
            console.log(formData)
        })
        
        function uploadFile() {
            const fileInput = document.getElementById('fileInput');
            const files = fileInput.files;
          
            for (let i = 0; i < files.length; i++) {
              formData.append('files', files[i]);
            }
            console.log(formData)
            fetch('/upload', {
              method: 'POST',
              body: formData
            })
            .then(response => response.text())
            .then(result => {
              console.log(result);
            })
            .catch(error => {
              console.error('エラー:', error);
            });
        }
    </script>
</body>
</html>